//
// dashboard page specific styles
//

@dashboard-blue-bg: #0a254e;
@dashboard-gray-bg: #1c1c1c;
@dashboard-blue-panel:#0e3779;
@dashboard-header1:#838383;
@dashboard-header2:#838383;
@dashboard-header3:#0e3779;
@dashboard-header4:#0a2357;
@dashboard-column1:#838383;
@dashboard-column2:#838383;
@dashboard-column3:#305a92;
@dashboard-column4:#2d4775;
@dashboard-jersey-color:#030523;


.dashboard-blue-panel {
  background-color: @dashboard-blue-panel;
  color:#fff;
  padding-left:10px;
  padding-right:15px;
  padding-top:5px;
  //padding-bottom:5px;
  margin-bottom: 15px;
}

.dashboard-color-header1 {
  background-color: @dashboard-header1;
  color:#fff;
}

.dashboard-color-header2 {
  background-color: @dashboard-header2;
  color:#fff;
}

.dashboard-color-header3 {
  background-color: @dashboard-header3;
  color:#fff;
}

.dashboard-color-header4 {
  background-color: @dashboard-header4;
  color:#fff;
}

.dashboard-color-column1 {
  background-color: @dashboard-column1;
  color:#fff;
}

.dashboard-color-column2 {
  background-color: @dashboard-column2;
  color:#fff;
}

.dashboard-color-column3 {
  background-color: @dashboard-column3;
  color:#fff;
}

.dashboard-color-column4 {
  background-color: @dashboard-column4;
  color:#fff;
}


.container-fluid.dashboard {
  height:350px;
  height:69vw;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

@media (min-width: 768px) {
  //992px, 1200px
  .container-fluid.dashboard {
    height:500px;
    height:60vw;
  }
}

.dashboard > .section-nav {
  .make-lg-column(2);
  .make-md-column(2);
  .make-sm-column(2);
  padding-left:0px;
  padding-right:0px;
  background-color: @dashboard-gray-bg;
  color:#fff;
  height:100%;
  > .button-new {
    margin-left:0;
    margin-right:0;
    margin-top:20px;
  }
  > .btn-group-vertical {
    width:100%;
  }
  > .btn-group-vertical > .btn {
    margin-top:20px;
  }
  z-index: 2; //slide-out menu will be < 2
}
.dashboard > .section-nav > a {
  .button-new();
  margin-left:0;
  margin-right:0;
  margin-top:20px;
}

.dashboard > .section-main {
  .make-lg-column(7);
  .make-md-column(7);
  .make-sm-column(7);
  padding-top:5px;
  height:calc(100% - 5px);
  height:100%;
}

.dashboard > .section-right {
  .make-lg-column(3);
  .make-md-column(3);
  .make-sm-column(3);
  background-color: @dashboard-blue-bg;
  color:#fff;
  height:100%;
  padding-top:15px;
  padding-left:0;
  padding-right:0;
}

.section-main > .block-grid-row {
  height:68px;
}

.dashboard .grid-row {
  div:nth-of-type(1) {
    margin-left:0;
  }

  div:last-of-type {
    margin-right:0;
  }
  height:70px;
  height:9vw;
  border-bottom: solid;
  border-bottom-width: 2px;
  margin-bottom:10px;
  margin-bottom:1.5vw;
  padding-bottom:10px;
  padding-bottom:1vw;

  @media (min-width: 768px) {
    //992px, 1200px
    height: 70px;
    height: 7.0vw;
    margin-bottom:10px;
    margin-bottom:1vw;
    padding-bottom:10px;
    padding-bottom:1vw;
  }

}

.grid-cell() {
  -webkit-font-smoothing:antialiased;
  box-sizing: border-box;
  display:block;
  font-family:balanceweb, Arial;
  font-weight:bold;
  text-decoration:none;
  text-rendering:optimizelegibility;
  word-wrap: break-word;
  float:left;
//  margin-left:5px;
//  margin-left:.5vw;
  margin-left:0;
//  margin-right:5px;
//  margin-right:.5vw;
  margin-right:0;
  position:relative;
  span {
    padding-left:5px;
    padding-right:5px;
    padding-left:.5vw;
    padding-right:.5vw;
  }


  a {
    color:#fff;
  }
  a:link {
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
  }
  height:61px;
  height:7.8vw;
  line-height:61px;                     /* set this with a modifier */
  line-height:7.8vw;

  text-align: left;
  //  font-size: 14px;
  //  font-size: 2.8vw;
  //  line-height: 14px;
  //  line-height: 1.4vw;
}

.grid-col-separator {
  .grid-cell();
  width:1%;
  min-width:1%;
}

.dashboard .grid-cell1 {
  .grid-cell();
  width:49%;
  min-width:49%;
}

.dashboard .grid-cell2 {
  .grid-cell();
  width:16%;
  min-width:16%;
  text-align: center;
}

.dashboard .grid-cell3 {
  .dashboard .grid-cell2;
}

.dashboard .grid-cell4 {
  .dashboard .grid-cell2;
}

@media (min-width: 768px) { //992px, 1200px
  .dashboard .grid-cell1,
  .dashboard .grid-cell2,
  .dashboard .grid-cell3,
  .dashboard .grid-cell4 {
    height:61px;
    height:6.1vw;
  }
}

.dashboard .grid-header {
  margin-right:10px;
  margin-left:10px;
  margin-right:.5vw;
  margin-left:.5vw;
  margin-top:10px;
  margin-top:1vw;
  font-size: 14px;
  line-height:14px;
  font-size:2.8vw;
  line-height:2.8vw;
  display:block;
  font-weight:bold;
}
@media (min-width: 768px) {
  .dashboard .grid-header {
    font-size:13px;                    /* set this with a modifier */
    font-size:1.5vw;
    line-height:14px;                   /* set this with a modifier */
    line-height:1.55vw;
  }
}


.dashboard .table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: #4888EF;
      cursor:pointer;
    }
  }
}


.dashboard .top10 td {
  font-size: 14px;
  font-size:2.8vw;
  font-weight:normal;
  @media (min-width: 768px) {
    font-size:13px;                    /* set this with a modifier */
    font-size:1.5vw;
    line-height:14px;                   /* set this with a modifier */
    line-height:1.55vw;
  }
  height:40px;
  text-align:center;
/*  &:hover,
  &:focus {
    background-color: #4888EF;
    color:#fff;
    text-decoration: none;
    cursor:pointer;
  }*/
}

.dashboard .top10 tbody,
.dashboard .top10 tr,
.dashboard .top10 td {
  border-top:10px solid white;
  border-bottom:5px solid white;
  vertical-align: center;
  a {
    color:#fff;
    text-decoration:none;
  }

}
.dashboard .top10 .td1 {
  .dashboard-color-column1;
  border-right:5px solid white;
  text-align: left;
}
.dashboard .top10 .td2 {
  .dashboard-color-column2;
  border-right:5px solid white;
}
.dashboard .top10 .td3 {
  .dashboard-color-column3;
  border-right:5px solid white;
}
.dashboard .top10 .td4 {
  .dashboard-color-column4;
  border-right:0;
}

.dashboard .top10 th {
  font-size: 14px;
  //line-height:14px;
  font-size:2.8vw;
  //line-height:2.8vw;
  font-weight:normal;
  @media (min-width: 768px) {
      font-size:13px;                    /* set this with a modifier */
      font-size:1.5vw;
      line-height:14px;                   /* set this with a modifier */
      line-height:1.55vw;
  }
  height:60px;
  border-right: 5px solid white;
  text-align:center;
}
.dashboard .top10 .th1 {
  .dashboard-color-header1;
  width:49%;
  text-align:left;
  vertical-align: top;
}
.dashboard .top10 .th2 {
  .dashboard-color-header2;
  width:17%;
  vertical-align: top;
}
.dashboard .top10 .th3 {
  .dashboard-color-header3;
  width:17%;
  vertical-align: top;
}
.dashboard .top10 .th4 {
  .dashboard-color-header4;
  width:17%;
  vertical-align: top;
  border-right: 0;
}

.dashboard .top5 th {
  padding:5px 0;
  font-size: 15px;
  line-height:20px;
  //font-size:2.6vw;
  //line-height:2.8vw;
  font-weight:normal;
  @media (min-width: 768px) {
    font-size:13px;                    /* set this with a modifier */
  //  font-size:1.2vw;
    line-height:14px;                   /* set this with a modifier */
  //  line-height:1.35vw;
  }
  height:20px;
  border-bottom: 1px solid white;
  text-align:left;
}
.dashboard .top5 .th1 {
  //.dashboard-color-header1;
  width:75%;
  text-align:left;
  vertical-align: center;
}
.dashboard .top5 .th2 {
  //.dashboard-color-header2;
  width:25%;
  vertical-align: center;
  text-align: right;
}

.dashboard .top5 td {
  padding:3px 0;
  font-size: 14px;
//  font-size:2.4vw;
  line-height:14px;                   /* set this with a modifier */
  font-weight:normal;
  @media (min-width: 768px) {
    font-size:13px;                    /* set this with a modifier */
//    font-size:1.1vw;
    line-height:14px;                   /* set this with a modifier */
//    line-height:1.25vw;
  }
  height:16px;
  text-align:left;
}
.dashboard .top5 tbody,
.dashboard .top5 tr,
.dashboard .top5 td {
  border-top:0;
  border-bottom:0;
  vertical-align: center;
  a {
    color:#fff;
  }
}
.dashboard .top5 .td1 {
}
.dashboard .top5 .td2 {
  text-align: right;
}

.table-div {
  position:relative;
}

.table-badge {
  position:absolute;
  bottom:0px;
  right:0px;
  font-size: 11px;
  line-height:11px;
  display: inline-block;
  padding: 0;
  margin:-5px;
  white-space: nowrap;
}

.table-jersey-badge {
  position:absolute;
  right:0px;
  color: @dashboard-jersey-color;
  font-weight: bold;
}
