//
// login page specific styles
//

.container-games {
  padding-top:140px;
  padding-bottom:80px;
}

.games {
  table.games-list {
    margin-top:10px;
    border-bottom:2px solid #000;
  }
  tr.games-list-home {
    border-top: 2px solid #000;
  }

  .table>tbody {
    .games-list-visitor>td {
      vertical-align: top;
      padding-top:3px;
      border-top:none;
    }
    .games-list-home>td {
      vertical-align: bottom;
      padding-bottom:7px;
    }
  }
  .games-list-ltgray {
    color:#838383;
  }
  .td1 {
    width:4%;
    padding-left:0;
  }
  .td2 {
    width:20%;
    padding-left:0;
    padding-right:0;
  }
  .td3 {
    width:6%;
    padding-left:0;
    text-align: right;
  }
  .td4 {
    width:4%;
    xpadding-left:0;
  }
  .td5 {
    width:11%;
    padding-left:0;
  }
  .td6 {
    width:12%;
    padding-left:0;
  }
  .td7 {
    width:11%;
    padding-left:0;
  }
  .td8 {
  padding-right:0;
  }
}

