//
// login page specific styles
//

.container-games {
  padding-top:140px;
  padding-bottom:80px;
}

.games {
  table.games-list {
    margin-top:10px;
    border-bottom:2px solid #000;
  }
  tr.games-list-home {
    border-top: 2px solid #000;
  }

  .table>tbody {
    .games-list-visitor>td {
      vertical-align: top;
      padding-top:3px;
      border-top:none;
    }
    .games-list-home>td {
      vertical-align: bottom;
      padding-bottom:7px;
    }
  }
  .games-list-ltgray {
    color:#838383;
  }
  .td1 {
    width:4%;
    padding-left:0;
  }
  .td2 {
    width:20%;
    padding-left:0;
    padding-right:0;
  }
  .td3 {
    width:6%;
    padding-left:0;
    text-align: right;
  }
  .td4 {
    width:4%;
    xpadding-left:0;
  }
  .td5 {
    width:11%;
    padding-left:0;
  }
  .td6 {
    width:12%;
    padding-left:0;
  }
  .td7 {
    width:11%;
    padding-left:0;
  }
  .td8 {
  padding-right:0;
  }
}

@color-header1: #838383;
@color-header2: #0e3779;
@color-header3: #091A3D;
@color-header4: #030523;
@color-header5: @color-header1;
@color-column1: #838383;
@color-column2: #7493B9;
@color-column3: #707F95;
@color-column4: #6D6D84;
@color-column5: @color-header5;

.row-separator {
  border-bottom: 2px solid black;
  padding-bottom:10px;
}
.row-separator+.row-separator {
  padding-top:10px;
}

.game-column {
position:relative;
  height:80px;
  display:flex;
  padding:5px;
  border:0;
  outline:0;
  color:#fff;
  font-size:17px ;
  line-height: 17px;
  font-weight: 700;
  text-align:center;
  margin:0;
  span,p {
    display: block;
    width:100%;
    overflow:hidden;
  }
}
.game-column+.game-column {
  margin-left:10px;
}
.game-header1 {
	background-color:@color-header1;
  width:29%;
  text-align:left;
  font-weight: normal;
}
.game-column1 {
  background-color:@color-header1;
  width:29%;
  text-align:left;
  font-weight: normal;
  span:nth-child(1) {
    position:absolute;
    top:5px;
    left:5px;
    font-weight:normal;
    font-size: 20px;
    width:100%;
  }
  span:nth-child(2) {
    position:absolute;
    bottom:5px;
    left:5px;
    font-weight:normal;
  }
  span:nth-child(3) {
    position:absolute;
    bottom:0px;
    right:5px;
    font-weight: bolder;
    font-size: 41px;
    line-height:41px;
    text-align: right;
    background-color: transparent;
    width:50%;
  }
}

.game-header2 {
	background-color:@color-header2;
  width:21%;
}
.game-column2 {
  background-color:@color-column2;
  width:21%;
}

.game-header3 {
	background-color:@color-header3;
  width:21%;
}
.game-column3 {
  background-color:@color-column3;
  width:21%;
}

.game-header4 {
	background-color:@color-header4;
  width:21%;
}
.game-column4 {
  background-color:@color-column4;
  width:21%;
}

.game-header5 {
	background-color:@color-header5;
  width:8%;
  text-align:center;
  font-weight: normal;
}
.game-column5 {
  background-color:@color-column5;
  width:8%;
  text-align:center;
  font-weight: normal;
  padding:0;
  span {
    position:absolute;
    top:20px;
    font-weight:normal;
    width:100%;
  }
}

.container-fluid.game-footer {
    padding: 10px;
}
.game-footer {
  .btn-group {
    width: 100%;
  }
  .btn-group {
    padding:0;
    .btn {
      width:20%;
      margin:0;
      padding:0;
    }
    .btn + .btn {
      margin-left: 6.667%;
    }
  }
}


.game-menu {
  overflow: hidden;
  position: absolute;
  top: -203px;
  right: -200px;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  border:2px solid #000;
  display:none;

}

// visible menu is at left = 0
.game-menu.visible {
  display:inline-block;
  top:80px;
  right:0;
}

// transition menu on click
.game-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

