//
// index page specific styles
//

.navbar-big {
  height:90px;
  background-image: url("img/GD_logo_bar_0519141.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.index-text {
  font-size: 24px;
}

.index-button {
  width:340px;
}

.container-index {
  padding-top:240px;
  padding-bottom:80px;
  padding-left:50px;
  padding-right:50px;
  font-size: 30px;
  font-weight:bolder;
}

.row-login {
  line-height: 25px;
  margin-top:10px;
  margin-bottom:10px;
  //.text-center();
  input {
    margin-top:10px;
    margin-bottom:10px;
    border-color: #4a4a4a;
    .myplaceholder(#252525);
  }
}
