.button-new {
	-webkit-font-smoothing:antialiased;
	background-color: rgb(149,149,149);	/*set this with a modifier */
	box-sizing: border-box;
	color: #FFF;
	display:block;
	font-family:balanceweb, Arial;
	font-size: 28px;
	height: 86px;
	line-height:86px;
	outline-color:#FFF;
	outline-style:none;
	outline-width:0px;
	text-align:center;
	text-decoration:none;
	text-rendering:optimizelegibility;
	width:215px;
	word-wrap: break-word;
	float:left;
	margin-right:10px;
}

.button-header {
	height:96px;
	line-height:96px;
}

.button-altcolor {
  background-color: #074F8A; 
}

.navbar-inverse {
  .navbar-textalt {
    color: blue;
  	.navbar-text;
  }
}
//test