@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@padding-xlarge-vertical:    0px;
@padding-xlarge-horizontal:  32px;
@line-height-xlarge:         80px;
//@font-size-xlarge:         ceil((@font-size-base * 1.5)); // ~18px
@font-size-xlarge:         17px;

@btn-gd-menu-bg: #4a4a4a;
@btn-gd-menu-color: #fff;
@btn-gd-menu-border: #000;

.navbar-inverse {
  background-color:#1c1c1c;
}

.hamburger {
  .navbar-toggle;
}

.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-xlarge-vertical; @padding-xlarge-horizontal; @font-size-xlarge; @line-height-xlarge; @border-radius-large);
  border-width: 0;
}
.btn-narrow {
  padding-left:10px;
  padding-right:10px;
}
// Success appears as green
.btn-gd-menu {
  .button-variant(@btn-gd-menu-color; @btn-gd-menu-bg; @btn-gd-menu-border);
  &:hover,
  &:focus {
    background-color: #4888EF;
    color:#fff;
    text-decoration: none;
  }
}
.btn-group-vertical {
  >.btn+.btn {  // only put top border on 2nd and later buttons
    border-top-width:2px;
  }
}

// default menu is hidden (left = -200px)
.gd-modal {
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: -400px;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  border:2px solid #000;

}

// visible menu is at left = 0
.gd-modal.visible {
  left:0;
}

// transition menu on click
.gd-modal,
body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  //min-height: 2000px;
  padding-top: @page-header-height;	// to account for the fixed navbar at the top of the page;
}

.container-fluid {
//  background-color: orange;
}

.navbar {
  min-height: @page-header-height;
  margin-bottom:0px;
  //border-bottom-width: 0px;
  border:none;
}

.navbar-btn {
  margin-bottom:0;
  margin-top:0;
}
// Placeholder text
.myplaceholder(@color: @input-color-placeholder) {
  &::-moz-placeholder {
    color: @color;   // Firefox
    opacity: 1;
    font-style:italic;
    margin-left:5px;
  } // See https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder {
    color: @color;
    font-style:italic;
    margin-left:5px;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder  {
    color: @color;
    font-style:italic;
    margin-left:5px;
  } // Safari and Chrome
}

.button-new() {
	-webkit-font-smoothing:antialiased;
	background-color: #4a4a4a;	/*set this with a modifier */
	box-sizing: border-box;
	color: #FFF;
	display:block;
	font-family:balanceweb, Arial;
	font-size:24px;                    /* set this with a modifier */
	//font-size:4.8vw;
    height: 60px;
    line-height:60px;                   /* set this with a modifier */
    //line-height:12vw;
    //height:12vw;
	//outline-color:#FFF;
	//outline-style:none;
	//outline-width:0px;
	text-align:center;
	text-decoration:none;
	text-rendering:optimizelegibility;
	width:100%;
	word-wrap: break-word;
	float:left;
	margin-right:10px;
    //margin-right:1vw;
    //padding-right:10px;
    margin-left:10px;
    //margin-left:1vw;

  &:hover,
  &:focus {
    background-color: #4888EF;
    color:#fff;
    text-decoration: none;
  }
  @media (min-width: 768px) { //992px, 1200px
    font-size:24px;                    /* set this with a modifier */
    line-height:80px;                   /* set this with a modifier */
    height: 80px;
  }
}
.button-new {
  .button-new();
}

@media (min-width: 768px) { //992px, 1200px
  .button-new {
    font-size:24px;                    /* set this with a modifier */
    line-height:80px;                   /* set this with a modifier */
    height: 80px;
  }
}

.block-grid-row {
  display:block;
  height:80px;
  //height:8vw;

  .block-grid-row-last {
    margin-right:0;
  }

  .block-grid-row-first {
    margin-left:0;
  }
}

.block-grid-row-separator {
  height:90px;
  //height:9vw;
  border-bottom: solid;
  border-bottom-width: 2px;
  margin-bottom:10px;
  //margin-bottom:1vw;
  padding-bottom:10px;
  //padding-bottom:1vw;
}

.btn-header+.btn-header {
  margin-left:15px;
}

p.navbar-text,
span.navbar-text {
  margin-left:15px;
  margin-right:15px;
}
.navbar-text {
  font-family: balanceweb, Arial;
  font-size: 17px;
  height:55px;
  margin-top:25px;                      // height + margin-top + margin-bottom= 80px
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  color: #FFF;                          /* set this with a modifier */
  position: relative;
  p,span {
    margin-left:15px;
    margin-right:15px;
    display:block;
  }
  .block-line1 {
    margin-top:-15px;
    //margin-left:10px;
    //margin-right:10px;
    font-size: 16px;
    line-height:18px;
  }
  .block-line2 {
    margin-top:10px;
    //margin-right:10px;
    //margin-left:10px;
    font-size: 28px;
    font-weight:bolder;
    line-height:30px;
  }
  .block-line1a {
    margin-top:-15px;
    //margin-right:10px;
    //margin-left:10px;
    font-size: 22px;
    line-height:22px;
    text-align: left;
  }
  .block-line2a {
    margin-top:10px;
    //margin-right:10px;
    //margin-left:10px;
    font-size: 16px;
    line-height:16px;
    text-align: left;
  }
  .block-line1b {
    margin-top:-15px;
    //margin-left:10px;
    //margin-right:10px;
    margin-bottom:3px;
    text-align: left;
    font-size: 17px;
    line-height:17px;
    font-weight:bold;
  }
  .block-line2b {
    //margin-left:10px;
    //margin-right:10px;
    text-align: left;
    font-size: 13px;
    line-height:16px;
    font-weight:normal;
  }
  .block-line1d {
    //margin-left:10px;
    //margin-right:10px;
    font-size: 18px;
    line-height:20px;
  }
  .block-line1e {
    margin-top:-20px;
    font-size: 14px;
    line-height:16px;
    color:yellow;
  }
  .block-line1f {
    margin-top:-20px;
    font-size: 14px;
    line-height:16px;
  }
  .block-line1e+.block-line1f {
    margin-top:0px;
  }
  .block-line1f+.block-line1f {
    margin-top:0px;
  }
  .block-grid-header {
    margin-top:-15px;
    //margin-right:10px;
    //margin-left:10px;
    font-size: 14px;
    line-height:14px;
    font-weight:bold;
  }
  @media (min-width: 768px) {
    .block-grid-header {
      font-size:13px;                    /* set this with a modifier */
      line-height:14px;                   /* set this with a modifier */
    }
  }
  .badge-right {
    position:absolute;
    bottom:0;
    right:0;
    font-size: 13px;
    line-height:15px;
    padding: 2px 7px;
    white-space: nowrap;
    overflow: hidden;
  }
  .badge-left {
    position: absolute;
    bottom: 0;
    left:0;
    margin-left:10px;
    margin-right:10px;
    text-align: left;
    font-size: 13px;
    line-height:15px;
    //font-weight:bold;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
  }
}



.block {
  -webkit-font-smoothing:antialiased;
  box-sizing: border-box;
  display:block;
  font-family:balanceweb, Arial;
  font-weight:bold;

  //outline-color:#FFF;
  //outline-style:none;
  //outline-width:0px;
  text-align:center;
  text-decoration:none;
  text-rendering:optimizelegibility;
  word-wrap: break-word;
  float:left;
  margin-left:5px;
  margin-right:5px;
  //margin-left:.5vw;
  //margin-right:.5vw;
  position:relative;

  height: 80px;                         /* set this with a modifier */
  //height: 16vw;
  //width:215px;                        /* set this with a modifier */
  background-color: #4a4a4a;
  color: #FFF;                          /* set this with a modifier */
  font-size: 28px;                      /* set this with a modifier */
  line-height:80px;                     /* set this with a modifier */
  //line-height:8vw;
  span {
    //margin-right:10px;
    //margin-left:10px;
    padding-left:5px;
    padding-right:5px;
    //padding-left:.5vw;
    //padding-right:.5vw;
  }
  a {
    color:#fff;
  }
  a:link {
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
  }
  .block-line1 {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    font-size: 16px;
    line-height:18px;
    display:block;
  }
  .block-line2 {
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    font-size: 28px;
    font-weight:bolder;
    line-height:30px;
    display:block;
  }
  .block-line1a {
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    font-size: 22px;
    line-height:24px;
    display:block;
    text-align: left;
  }
  .block-line2a {
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    font-size: 16px;
    line-height:18px;
    display:block;
    text-align: left;
  }
  .block-grid-header {
    margin-right:10px;
    margin-left:10px;
    //margin-right:.5vw;
    //margin-left:.5vw;
    margin-top:10px;
    //margin-top:1vw;
    font-size: 14px;
    line-height:14px;
    //font-size:2.8vw;
    //line-height:2.8vw;
    display:block;
    font-weight:bold;
  }
  @media (min-width: 768px) {
    .block-grid-header {
      font-size:13px;                    /* set this with a modifier */
      //font-size:1.5vw;
      line-height:14px;                   /* set this with a modifier */
      //line-height:1.55vw;
      color:orange;
    }
  }
  @media (min-width: 992px) {
    .button-new {
    }
  }
  @media (min-width: 1200px) {
    .button-new {
    }
  }
  .block-line1b {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:3px;
    display:block;
    text-align: left;
    font-size: 17px;
    line-height:17px;
    font-weight:bold;
  }
  .block-line2b {
    margin-left:10px;
    margin-right:10px;
    display:block;
    text-align: left;
    font-size: 13px;
    line-height:16px;
    font-weight:normal;
  }
  .block-line2c {
    position: absolute;
    bottom: 0px;
    left:0px;
    margin-left:10px;
    margin-right:10px;
    display:block;
    text-align: left;
    font-size: 14px;
    line-height:16px;
    font-weight:bold;
    padding-bottom: 3px;
  }
  .block-badge {
    position:absolute;
    bottom:0px;
    right:0px;
    font-size: 14px;
    line-height:16px;
    display: inline-block;
    padding: 3px 7px;
    white-space: nowrap;
  }
  .block-line1d {
    margin-left:10px;
    margin-right:10px;
    font-size: 18px;
    line-height:20px;
  }
}

.block-grid1 {
  width:245px;
  min-width: 245px;
  text-align: left;
}

.block-grid2 {
  width:119px;
  min-width:119px;
}

.block-center {
  float:none;
}

.block-color-heading1 {
  background-color: #949494;
}
.block-color-heading2 {
  background-color: #0E4B8C;
}
.block-color-heading3 {
  background-color: #09326A;
}
.block-color-heading4 {
  background-color: #051b4d;
}
.block-color-heading5 {
  background-color: #01042e;
}
.block-color-column1 {
  background-color: #959595;
}
.block-color-column2 {
  background-color: #5681ae;
}
.block-color-column3 {
  background-color: #526f96;
}
.block-color-column4 {
  background-color: #505f82;
}
.block-color-column5 {
  background-color: #4d4f6c;
}

.block-color-header {
  background-color: #1c1c1c;
  color:#fff;
}

.block-active {
  background-color: #4888EF;
}

.block-color-featuretext {
  color: #4888EF;
}

//
// alternate text colors in inverse navbars
//
.navbar-inverse {
  .navbar-textalt {
  	.navbar-text;
    color: #FFF;
    font-size: 22px;
    font-weight: normal;
    margin-top:5px;
    margin-bottom:0px;
  }
}

//
// for navbars with a row of buttons, use the button-row modifier on navbar and container
//
.navbar-button-row {
  .navbar-fixed-top;
  top: @page-header-height;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.container-button-row {
  padding-top:80px;
  //padding-top:110px;  // with row for Today's date
}


.navbar > .block-grid-row,
.navbar > .container,
.navbar > .container-fluid {
  padding-left:0px;
  padding-right:0px;
}

//
// page layout for left navigation
//
.wrapper-leftnav {
  .make-row();
}

.content-nav {
  .make-lg-column(2);
  .make-md-column(2);
  .make-sm-column(2);
  padding-left:0px;
  padding-right:0px;
}
.content-nav > .button-new {
  margin-left:0px;
  margin-top:20px;
}

.content-main {
  .make-lg-column(10);
  .make-md-column(10);
  .make-sm-column(10);
}
