@page-header-height: 80px;
@zindex-navbar-fixed:      10;

// override Bootstrap variables
@font-family-sans-serif:  Arial, sans-serif;
@icon-font-path:          "fonts/";

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@padding-xlarge-vertical:    0px;
@padding-xlarge-horizontal:  32px;
@line-height-xlarge:         (@page-header-height - 6px); // 3px border * 2
@font-size-xlarge:           18px;

@navbar-inverse-color:       @gray-light;


@navbar-inverse-bg:          @header-color-bg-dk;
@navbar-inverse-border:      darken(@navbar-inverse-bg, 10%);

@header-color-bg-dk: #111111;
@header-color-bg-lt: #252525;
@header-color-dk: #fff;
@header-color-lt: #fff;

@btn-gd-menu-bg: #4a4a4a;
@btn-gd-menu-border: #808080;
@btn-gd-menu-color: #fff;
@btn-gd-menu-bg-lt: #808080;
@btn-gd-menu-border-lt: #4a4a4a;
@btn-gd-menu-color-lt: #fff;
@block-bg: #4a4a4a;
@block-color: #fff;
@btn-active-hover-bg: #4888EF;
@btn-active-hover-color: #fff;

@dashboard-color-blue-bg: #0a254e;
@dashboard-color-gray-bg: #252525;
@dashboard-color-top5-panel:@btn-gd-menu-bg;
@dashboard-color-header1:#959595;
@dashboard-color-header2:#959595;
@dashboard-color-header3:#0e4b8c;
@dashboard-color-header4:#09326a;
@dashboard-color-column1:#808080;
@dashboard-color-column2:#959595;
@dashboard-color-column3:#3e6fa3;
@dashboard-color-column4:#3a5b88;
@dashboard-color-jersey:#fff;

@player-color-header1: #AAAAAA;
@player-color-header2: #0E4B8C;
@player-color-header3: #09326A;
@player-color-header4: #061B4D;
@player-color-header5: #03052E;
@player-color-header6: #AAAAAA;
@player-color-column1: #6d6d6d;
@player-color-column2: @player-color-header2;
@player-color-column3: @player-color-header3;
@player-color-column4: @player-color-header4;
@player-color-column5: @player-color-header5;
@player-color-column6: @player-color-column1;

@players-color-header1: #959595;
@players-color-header2: #0e3779;
@players-color-header3: #0a2357;
@players-color-header4: #07123c;
@players-color-header5: #03052E;
@players-color-header6: #959595;
@players-color-column1: @btn-gd-menu-bg-lt;
@players-color-column2: @players-color-header2;
@players-color-column3: @players-color-header3;
@players-color-column4: @players-color-header4;
@players-color-column5: @players-color-header5;
@players-color-column6: @players-color-column1;

@games-list-ltgray: #838383;

@game-color-header1: #959595;
@game-color-header2: #0e3779;
@game-color-header3: #091A3D;
@game-color-header4: #030523;
@game-color-header5: @game-color-header1;
@game-color-header6: @game-color-header1;
@game-color-column1: #838383;
@game-color-column2: #7493B9;
@game-color-column3: #707F95;
@game-color-column4: #6D6D84;
@game-color-column5: @game-color-header5;
@game-color-column6: @game-color-header5;
