    <button type="button" class="btn btn-gd-menu btn-xl" {{action "reportGamePerformance"}}>game performance</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "reportThirdDownPerformance"}}>third down performance</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "reportRedZonePerformance"}}>red zone performance</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "reportScoutingReportSummary"}}>scouting report summary</button>
