    <button type="button" class="btn btn-gd-menu btn-xl" {{action "viewPlayerInformation"}}>view/edit player information</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "createScoutingReport"}}>create new scouting report</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "manageRoster"}}>manage roster and depth chart</button>
