    <button type="button" class="btn btn-gd-menu btn-xl" {{action "adminManageAccountInformation"}}>manage account information</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "adminSetUpPositionGroups"}}>set up position groups for grading</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "adminManageUserSecurityGroups"}}>manage user security groups</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "adminSetReportDistributionPreferences"}}>set preferences for report distribution</button>
