    <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu" ""}}>view game list</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu" ""}}>set up a game for grading</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "toggleMenu" ""}}>grade players in a game</button>
