    <button type="button" class="btn btn-gd-menu btn-xl" {{action "playerViewPlayerInformation"}}>view/edit player information</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "playerCreateScoutingReport"}}>create new scouting report</button>
    <button type="button" class="btn btn-gd-menu btn-xl" {{action "playerManageRoster"}}>manage roster and depth chart</button>
