<section>
    <h2>About Template>>></h2>
    <ul>
        <li>
          {{#link-to "about"}}About{{/link-to}}
        </li>
        <li>
          {{#link-to "about.location"}}Location{{/link-to}}
        </li>
        <li>
          {{#link-to "about.product"}}Product{{/link-to}}
        </li>
    </ul>
    <h2>About Main Outlet</h2>
    {{outlet}}
    <h2>About Named Outlets</h2>
    {{outlet aboutlocation}}
    {{outlet aboutproduct}}
    <h2><<< About</h2>
</section>
