    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-textalt navbar-collapse collapse">
			<span>Put an interesting message here</span>
	  		<span>Put page name here</span>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


<div id='page-wrapper'>
<div id='header'>
	<div id='title-wrapper'>
	<div class='module-1-4' id='logo'></div>
	<div class='module-1-2' id='main-info'>Put an interesting message here</div>
	<div class='module-1-4' id='menu-wrapper'>
	  <menu class='status-closed' id='menu'></menu>
	  <span id='app-name'>Put page name here</span>
	</div>
	</div>
	<div class='separator'></div>
	<div id='sub-info-wrapper'>
	<div class='close module-1-20'></div>
	<div class='module-2-6' id='sub-info'>
	  Put an informative message here
	</div>
	<div class='module-1-6'>
	  <a class='button control-blue' href='#'><span>Action 1</span></a>
	</div>
	<div class='module-1-6'>
	  <a class='control-grey continue' href='#'>Action 2</a>
	</div>
	</div>
	<div class='module-1-6'>
	{{#link-to 'home' classNames="button control-blue"}}<span>Home</span>{{/link-to}}
	</div>
</div>
	<div>
	{{#link-to 'home' classNames="button-new button-altcolor"}}Home2{{/link-to}}
	{{#link-to 'home' classNames="button-new "}}Home2{{/link-to}}
	{{#link-to 'home' classNames="button-new "}}Home2{{/link-to}}
	</div>

<div class='grid' id='content-wrapper'>
	{{outlet}}
</div>
 
<footer>
    <p>application footer</p>
</footer>
</div>


