{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid' style="height:500px;">
    <div class="wrapper-leftnav" style="height:100%;">
        <div class="dashboard-section-nav" style="height:100%;">
            {{#link-to 'players' classNames="button-new"}}players{{/link-to}}
            {{#link-to 'games' classNames="button-new"}}games{{/link-to}}
            {{#link-to 'reports' classNames="button-new"}}reports{{/link-to}}
            {{#link-to 'admin' classNames="button-new"}}admin{{/link-to}}
        </div>
        <div class="dashboard-section-main">
            <div class="dashboard-grid-row dashboard-grid-row-separator">
                <div class="block dashboard-grid-cell1 dashboard-color-header1 block-grid-row-first" style="margin-left:0;">
                    <span class="block-grid-header">Top Ten Overall Performers</span>
                </div>
                <div class="block dashboard-color-header2 dashboard-grid-cell2">
                    <span class="block-grid-header">Position</span>
                </div>
                <div class="block dashboard-color-header3 dashboard-grid-cell2">
                    <span class="block-grid-header">Last Game</span>
                </div>
                <div class="block dashboard-color-header4 dashboard-grid-cell2 block-grid-row-last" style="margin-right:0;">
                    <span class="block-grid-header">Season Avg</span>
                </div>
            </div>
        </div>
        <div class="dashboard-section-right">
            <h1>Top New Players</h1>
        </div>
    </div>
</div>
<!--footer style="background:#DDD;">
    <p>application footer</p>
</footer-->
