{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

<nav class="navbar xnavbar-inverse navbar-button-row" role="navigation">
    <div class="container-fluid block-color-header">
        <div class="navbar-left">
            {{#header-button class='navbar-btn btn-narrow navbar-left' action="goBack"}}◀︎{{/header-button}}
            <p class="navbar-text">1</p>
            {{#header-button class='navbar-btn btn-narrow navbar-left' }}►{{/header-button}}
            <div class="navbar-text">
                <span class="block-line1a">line1a</span>
                <span class="block-line2a">line2a</span>
                <span class="badge-left">badge left</span>
            </div>
            <div class="navbar-text">
                <span class="block-line1b">line1b</span>
                <span class="block-line2b">line2b</span>
                <span class="badge-left">badge left</span>
            </div>
            <div class="navbar-text">
                <span class="block-line1">line1</span>
                <span class="block-line2">line2</span>
                <span class="badge-left">badge l</span>
            </div>
            <div class="navbar-text">
                <span class="block-line1">line1</span>
                <span class="block-line2">line2</span>
                <span class="badge-right">badge r</span>
            </div>
            <div class="navbar-text">
                <span class="block-grid-header">grid header</span>
                <span class="badge-left">badge left</span>
            </div>
            <div class="navbar-text">
                <span>default text</span>
            </div>
        </div>
        <div class="navbar-right" >
            {{#header-button class='navbar-btn' }}Pull Right{{/header-button}}
        </div>
    </div>
</nav>


<div class='container-fluid container-button-row games'>
<h3>put game here</h3>
</div>


<!--div class="navbar xnavbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="block block-color-header">
            <span class="block-line1a">line1a</span>
            <span class="block-line2a">line2a</span>
            <span class="block-line2c">header color</span>
        </div>
        <div class="block pull-right block-grid-row-last">
            <span class="block-line1b">line1b</span>
            <span class="block-line2b">line2b</span>
            <span class="block-line2c">aligned left</span>
        </div>
        <div class="block block-active pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-line2c">active</span>
        </div>
        <div class="block pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-badge">badge</span>
        </div>
        <div class="block pull-right">
            <span class="block-grid-header">grid header</span>
            <span class="block-line2c">line2c</span>
        </div>
        <div class="block pull-right">
            <span>default text</span>
        </div>
    </div>
</div-->


