{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}

<nav class="navbar xnavbar-inverse navbar-button-row" role="navigation">
    <div class="container-fluid block-color-header">
        <div>
            {{#header-button class='navbar-btn btn-narrow navbar-left' action="previousPlay"}}◀︎{{/header-button}}
            <p class="navbar-text">{{playNumber}}</p>
            {{#header-button class='navbar-btn btn-narrow navbar-left' action="nextPlay"}}►{{/header-button}}
        </div>
        <div class="navbar-text">
            <span class="block-line1e">
                Qtr:&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Dn:&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                To go:&nbsp;&nbsp;10
            </span>
            <span class="block-line1f"><b>Formation:</b> [field value]</span>
            <span class="block-line1f"><b>Backfield:</b> [field value]</span>
            <span class="block-line1f"><b>Play:</b> [play call] [play type]</span>
        </div>
        <div class="navbar-text">
            <span class="block-line1e">
                PRIN <b>ball on</b> PRIN 22 LH
            </span>
            <span class="block-line1f"><b>Shift:</b> [shift on play]</span>
            <span class="block-line1f"><b>Motion:</b> [motion on play]</span>
            <span class="block-line1f"><b>Strength:</b> [play strength]</span>
        </div>
        <div class="navbar-text">
            <span class="block-line1f"><b>Front:</b> [front used]</span>
            <span class="block-line1f"><b>Stunt:</b> [stunt on play]</span>
            <span class="block-line1f"><b>Blitz:</b> [blitz on play]</span>
            <span class="block-line1f"><b>Cover:</b> [coverage]</span>
        </div>
        <div class="navbar-right" style="width:106px;">
            {{#header-button class='navbar-btn' action="changePlayType"}}<span class="line1">change</span><span class="line2">play type</span>{{/header-button}}
        </div>
    </div>
</nav>


<div class='container-fluid container-button-row game' style="margin:10px;">
    <div class="row">
        <div class="game-column1" style="background-color:lightgray;width:25%;height:80px;display:inline-block;margin:0;padding:0;outline:0;border:0;">
            <span>Click players to select/change</span>
        </div>
        <div class="game-column2" style="background-color:lightgray;width:20%;height:80px;display:inline-block;text-align:center;margin:0;padding:0;outline:0;border:0;">
            <span>Mental Grade</span>
        </div>
        <div class="game-column3" style="background-color:lightgray;width:20%;height:80px;display:inline-block;text-align:center;">
            <span>Technique Grade</span>
        </div>
        <div class="game-column4" style="background-color:lightgray;width:20%;height:80px;display:inline-block;text-align:center;">
            <span>Effort Grade</span>
        </div>
        <div class="game-column5" style="background-color:lightgray;width:10%;height:80px;display:inline-block;text-align:center;">
            <span>Click to set flag</span>
        </div>
    </div>
</div>

{{!--
{{#header-button class='navbar-btn navbar-left' }}button 1{{/header-button}}
{{#header-button class='navbar-btn navbar-left' }}button 2{{/header-button}}
<div class="navbar-text">
    <span class="block-line1a">line1a</span>
    <span class="block-line2a">line2a</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span class="block-line1b">line1b</span>
    <span class="block-line2b">line2b</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span class="block-line1">line1</span>
    <span class="block-line2">line2</span>
    <span class="badge-left">badge l</span>
</div>
<div class="navbar-text">
    <span class="block-line1">line1</span>
    <span class="block-line2">line2</span>
    <span class="badge-right">badge r</span>
</div>
<div class="navbar-text">
    <span class="block-grid-header">grid header</span>
    <span class="badge-left">badge left</span>
</div>
<div class="navbar-text">
    <span>default text</span>
</div>
--}}

<!--div class="navbar xnavbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="block block-color-header">
            <span class="block-line1a">line1a</span>
            <span class="block-line2a">line2a</span>
            <span class="block-line2c">header color</span>
        </div>
        <div class="block pull-right block-grid-row-last">
            <span class="block-line1b">line1b</span>
            <span class="block-line2b">line2b</span>
            <span class="block-line2c">aligned left</span>
        </div>
        <div class="block block-active pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-line2c">active</span>
        </div>
        <div class="block pull-right">
            <span class="block-line1">line1</span>
            <span class="block-line2">line2</span>
            <span class="block-badge">badge</span>
        </div>
        <div class="block pull-right">
            <span class="block-grid-header">grid header</span>
            <span class="block-line2c">line2c</span>
        </div>
        <div class="block pull-right">
            <span>default text</span>
        </div>
    </div>
</div-->


