<section id="home">
    <h1>Home Template</h1>
    <ul>
  		<li>{{#link-to 'players'}}players{{/link-to}}</li>
  		<li>{{#link-to 'games'}}games{{/link-to}}</li>
  		<li>{{#link-to 'reports'}}reports{{/link-to}}</li>
  		<li>{{#link-to 'admin'}}admin{{/link-to}}</li>
  	</ul>
</section>