{{render "bigheader"}}
<div class="container-fluid container-index">
    <span>(insert graphic here)</span>
    <div class="row">
        <div class="index-button pull-left">
            {{#link-to 'login' class="button-new"}}existing member - sign in{{/link-to}}
        </div>
        <div class="index-button pull-right">
            {{#link-to 'signup' class="button-new"}}new member - sign up{{/link-to}}
        </div>
     </div>
     <div class="row pull-right">
         <br>
         <span class="block-color-featuretext">Scout like a pro.&nbsp&nbsp</span>
         <span > Everywhere you go.</span>
     </div>
</div>
