{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}
<div class="navbar navbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="block block-color-header">
            <span class="block-line1d">Members, please sign in</span>
        </div>
        <div class="pull-right">
            {{#link-to 'forgotpassword' classNames="button-new"}}forgot password{{/link-to}}
        </div>
    </div>
</div>

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid container-login'>
    <div class="row row-login">
        {{input type="text" value=username size="50" placeholder="Email address"}}
    </div>
    <div class="row row-login">
        {{input type="text" value=password size="50" placeholder="Password"}}
    </div>
    <div class="row row-login">
        <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
            {{#link-to 'dashboard' classNames="button-new"}}sign in{{/link-to}}
        </div>
    </div>
</div>

<div class="container-fluid block-grid-row block-color-header">
    <div class="pull-right">
        {{#link-to 'signup' classNames="button-new"}}sign up{{/link-to}}
    </div>
    <div class="block block-color-header pull-right">
        <span class="block-line1d">Not a member?</span>
    </div>
</div>
