{{render "header"}}
{{! this page uses a button row in the navbar. modify navbar with navbar-button-row for proper button spacing}}
<div class="navbar navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        {{#header-button class='navbar-btn btn-narrow navbar-left' action="goBack"}}◀︎{{/header-button}}
        <span class="navbar-text">team name - season</span>
        <div class="pull-right" role="group" aria-label="Toolbar">
            {{#header-button action="createGame"}}alphabetical{{/header-button}}
            {{#header-button action="createGame"}}numerical{{/header-button}}
            {{#header-button action="createGame"}}group by position{{/header-button}}
        </div>
    </div>
</div>

{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid container-game game' style="margin:10px;">
    <div class="row flex  row-separator">
        <div class="game-column game-header1">
            <span>Click players to select/change</span>
        </div>
        <div class="game-column game-header2">
            <span>1st String</span>
        </div>
        <div class="game-column game-header3">
            <span>2nd String</span>
        </div>
        <div class="game-column game-header4">
            <span>3rd String</span>
        </div>
        <div class="game-column game-header5">
            <span>ST Pos</span>
        </div>
        <div class="game-column game-header6">
            <span>Inactive Flag</span>
        </div>
    </div>
    {{#each allPlayers}}
    <div class="row flex  row-separator">
        <div class="game-column game-column1">
            <span>{{position}}</span>
            <span>{{fullName}}</span>
            <span>{{jerseyNumber}}</span>
        </div>
        <div class="game-column game-column2">
            <span></span>
        </div>
        <div class="game-column game-column3">
            <span></span>
        </div>
        <div class="game-column game-column4">
            <span></span>
        </div>
        <div class="game-column game-column5">
            <span></span>
        </div>
        <div class="game-column game-column6">
            <span>add flag w reason</span>
        </div>
    </div>
    {{/each}}
</div>
