<section id="reports">
    <h1>Reports Template</h1>
    <table>
    <tbody>
    {{#each}}
    	<tr>
    	<td>{{name}}</td>
    	<td>{{description}}</td>
    	</tr>
    {{else}}
    	<tr>
	    <td>no reports...</td>
		</tr>
    {{/each}}
    </tbody>
    </table>
</section>