{{render "header"}}
<div class="navbar xnavbar-inverse navbar-button-row">
    <div class="container-fluid block-grid-row block-color-header">
        <div class="pull-left ">
            {{#link-to 'dashboard' classNames="button-new block-grid-row-first"}}◀{{/link-to}}
        </div>
    </div>
</div>
{{! this page uses a button row in the navbar. modify container with navbar-button-row for proper button spacing}}
<div class='container-fluid container-button-row'>
    <div class="wrapper-leftnav" style="height:100%;">
        <div class="xcontent-main">
            <h1>Reports Template</h1>
            <table>
                <tbody>
                {{#each item in controller}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <td>no reports...</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
